@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Questions App</h1>
    <h3>Please log in:</h3>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
</div>

 @* for testing *@
<p>@Html.ActionLink("See all responses", "Index", "Responses")</p>
<p>@Html.ActionLink("See all question", "Index", "Questions")</p>
