@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Questions App</h1>
    <h3>Please log in:</h3>

    <button id="Button1">Record</button>
    <button id="Button2">Save/Stop</button>
    <button id="Button3">Play</button>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
</div>
