@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To QUESIS</h1>
    <br>
    <br>
    @* <h3>Please log in:</h3> *@
@{
  Layout = "_Layout";
}


<div class="box"> 
@Html.ActionLink("See Today's Question", "Index", "Questions", null, new { @class="btn btn-large homepage todayq"})
<br>
<br>
@Html.ActionLink("Login to Your Account", "Login", "Account",null, new { @class="btn btn-large homepage"})
<br>
@Html.ActionLink("Create an account", "Register", "Account", null, new { @class="btn btn-large homepage"} )


</div>
</div>

 @* for testing *@
@* <p>@Html.ActionLink("See all responses", "Index", "Responses")</p> *@

