@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Questions App</h1>
    <h3>Please log in:</h3>
@{
  Layout = "_Layout";
}


<div class="box"> 
<p>@Html.ActionLink("Login to Your Account", "Index", "Login")</p> 

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
</div>
</div>

 @* for testing *@
<p>@Html.ActionLink("See all responses", "Index", "Responses")</p>
<p>@Html.ActionLink("See Today's Question", "Index", "Questions")</p>
