/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}


a.navbar-brand :hover {
  background-color: gray;
}

.home-header {
  background-color:  #5c7681;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


@keyframes example {
  from {background-color:rgba(255, 255, 255, 0.404);}
  to {background-color:  rgb(157, 209, 187);}
  /* to {background-color:  rgb(117, 158, 160);} */
}

.box, #question-box , #response-form {
  /* background-color: rgba(255, 255, 255, 0.404); */
  background-color:  rgb(157, 209, 187, 0.3);
  margin: 50px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
  padding-top: 30px;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  animation-name: example;
  animation-duration: 15s;
}

#mainBox {
  background-color:  rgb(157, 209, 187, 0.3);
  font-family: 'Roboto', sans-serif;
  width: fit-content;
  border-radius: 20px;

}

a {
  display: inline-block;
  padding: .7em;
  line-height: 0;
  margin-bottom: 2em;
}

.btn {
  border: 3px solid ivory;
  border-radius: 15px;
  background-image: radial-gradient(rgb(138, 137, 137), rgb(73, 140, 172));
  color: ivory;
  margin: 25px;
  font-size: 100%;

}

.homepage {
  background-image: radial-gradient(rgb(138, 137, 137), rgba(92, 139, 128, 0.815));
  color: ivory;
}

.todayq {
  background-image: radial-gradient(rgb(138, 137, 137), rgba(118, 189, 183, 0.815));
  color: ivory;
  font-size: 140%;
}


