@{
  Layout = "_Layout";
}
@using AudionClient.Models
@using System.Security.Claims
@model IEnumerable<AudionClient.Models.Question>


<p>Questions:</p>
@if (Model.Any())
{
  <ul>
    @foreach (Question question in Model)
    {
      <li>@Html.ActionLink($"{question.Text}", "Details", new { id = question.QuestionId })</li>
    }
  </ul>
} 
else
{
  <h3>No Questions have been added yet!</h3>
}

@* <p>@Html.ActionLink("Add new Question", "Create")</p> *@