@{
  Layout = "_Layout";
}

@using System.Security.Claims

<br>
 <h2>Hello, @User.Identity.Name!</h2>
<hr />
<br>
@if (User.Identity.IsAuthenticated)
{
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-outline-danger" value="Log out" />
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-outline-danger"})
  }
}
else
{
  @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-outline-danger"})
  @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-outline-danger"})
}

