@{
  Layout = "_Layout";
}

@using AudionClient.ViewModels
@model LoginViewModel

<br>
<br>
<div class="card">
  <br>
  <h4 class="text-center">Quesis</h4>
  <br>
  <br>
  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(m => m.Email, new {@class="form-control", placeholder="Email"})
    @Html.PasswordFor(m => m.Password,  new {@class="form-control", placeholder="Password"})
    <input type="submit" value="Log in" class="btn btn-outline-success form-control"/>
  }
  <p>Don't have an account? <span>@Html.ActionLink("Sign up", "Register")</span></p>
</div>